@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@{ String isLoggedIn = Context.Session.GetString("isLoggedIn");
    String userRole = Context.Session.GetString("userRole");
    
    }
    <ul class="navbar-nav float-right">
        <!-- Add Condidition for Session-->
        @if (isLoggedIn == null)
        {
            <li class="nav-item ">
                <a class="nav-link text-dark" asp-area="" asp-page="/Users/Create">Sign Up</a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link text-dark" asp-area="" asp-page="/Users/Login">Log In</a>
            </li>
        }

        @if (isLoggedIn == "true")
        {
            @if (userRole == "admin")
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Movies/Create">Add Movie</a>
                </li>
            }
                <li class="nav-item float-right">
                    <a class="nav-link text-dark" asp-area="" asp-page-handler="logout" asp-page="/Users/Login">Log Out</a>
                </li>
            }

        </ul>
